
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full">
    <textarea class="mdl-textfield__input" type="text" id="{{key}}" name="{{key}}" rows=7 {% if value.allowNull == false%} required {% endif %}>{{data}}</textarea>
    <label class="mdl-textfield__label" for="{{key}}">{{key}} : </label>
  </div>