{% extends '../../layout.twig' %}
{% macro tree_pages(links) %}
	{% import _self as macros %}
	{% for link in links %}
		<li class="mdl-shadow--2dp">
			{% if link.parent > 0 %}
				<a href="javascript:void(0)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--blue cursor--move" style="min-width: 10px;width: 30px; height: 30px;">
					<i class="material-icons">drag_indicator</i>
				</a>
			{% endif %}
			<span title="{{ link.index}}">{{ link.function | capitalize}}</span>
			<a href="javascript:Intranets.pages.openComponents({{link.id}})" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--green" style="min-width: 10px;width: 30px; height: 30px;">
				<i class="material-icons">add</i>
			</a>
			<a href="javascript:Intranets.pages.editComponent({{link.id}})" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--orange" style="min-width: 10px;width: 30px; height: 30px;">
				<i class="material-icons">edit</i>
			</a>
			{% if link.parent > 0 %}
			<a href="javascript:Intranets.pages.duplicateComponents({{link.id}})" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--blue-100" style="min-width: 10px;width: 30px; height: 30px;">
				<i class="material-icons mdl-color-text---orange--100">content_copy</i>
			</a>
			<a href="javascript:Intranets.pages.deleteComponent({{link.id}})" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red" style="min-width: 10px;width: 30px; height: 30px;">
				<i class="material-icons mdl-color-text---red--100">delete</i>
			</a>
			{% endif %}
			{% if link.children %}
				<ul>
					{{ macros.tree_pages(link.children) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
{% macro tree_components(links) %}
	{% import _self as macros %}
	{% for link in links %}
		<li class="mdl-shadow--2dp">
			<span>{{ link.name | capitalize}}</span>
			{% if link.type == "file" %}
				<ul>
					{% for token in link.content.tokens %}
						{% if token.token.macroName %}

							<li class="mdl-shadow--2dp">
								<span>{{token.token.macroName | lower}}</span>

								<a href="javascript:Intranets.pages.addComponentInPage('{{token.token.macroName | lower}}')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--green" style="min-width: 10px;width: 30px; height: 30px;">
									<i class="material-icons">add</i>
								</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
			{% if link.children %}
				<ul>
					{{ macros.tree_components(link.children) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}

{% import _self as macros %}
{% block body%}
	<ul class="main-menu">
		{{ macros.tree_pages(elements) }}
	</ul>
	<pre>

</pre>
	{#{ elements | json_encode}#}

	<dialog class="mdl-dialog" id="components_list" style="width: 50%">

		<h6 class="mdl-dialog__title">Components List</h4>
		<div
			class="mdl-dialog__content">
			<!-- Textfield with Floating Label -->

			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="components__search">
					<label class="mdl-textfield__label" for="components__search">Search component :</label>
				</div>
			</form>

			<ul>
				{{ macros.tree_components(components) }}
			</ul>
		</div>
		<div class="mdl-dialog__actions">
			<button type="button" class="mdl-button close">Close</button>
		</div>
	</dialog>
{% endblock %}

